<div class="row">
  <div class="col-xs-5 col-xs-offset-5">
    <h4 style="font-weight: bold">Comments</h4>
  </div>
  
  <div class="col-xs-12">
    <% @article.comments.each do |comment| %>
      <div class="col-xs-12" id="cm">
        
        <%= link_to user_path(comment.user.id), id: "profile_link" do%>
          <%= image_tag( get_user_image(comment.user), width: "32", height: "32", id: "commenter_img", alt: comment.user.username) %>
        <% end %>            
        
        <% if current_user.id == comment.user_id %>  
          <div class="col-xs-12">
            <%= link_to 'Destroy Comment', 'javascript:void(0)', article: @article.id, comment: comment.id, class: 'link', data: { confirm: 'Are you sure?'} %>
          </div>
        <% end %>
        <%= comment.body %>

        <% entity_like_status = enitity_liked('Comment', comment.id) %>
        <% link_class = entity_like_status ? "img_linkd" : "img_link" %>
        <% ids_of_like = comment.likes.where(user_id: current_user).ids %>
        <% likeId = entity_like_status ?  ids_of_like : '' %>
        
        <span class="form_like<%=comment.id%>">
          <%= render 'likes/likeLink',likeId: likeId, link_class: link_class, likeable_type: "Comment", likeable_id: comment.id %>
          </span>
        <span class="like_count<%=comment.id%>">
          <%= count_likes(comment.id, 'Comment') %>
        </span>
        
      </div>
    <% end %>
  </div>
</div>