<div class="row">
  <div class="col-xs-12">
    <%= form_with(model: user, local: true, :html => {class: "form-horizontal", role:"from"}) do |form| %>
    
    <div class="form-group">
      <%= form.label :username, class: "col-sm-2 control-label"  %>
      <div class="col-sm-10">
        <%= form.text_field :username , class: "form-control", id: "name"%><span id="sname"></span>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :email, class: "col-sm-2 control-label"%>
      <div class="col-sm-10">
            <%= form.text_field :email, class: "form-control", id: "email"%><span id="semail"></span>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :password, class: "col-sm-2 control-label"  %>
      <div class="col-sm-10">
            <%= form.password_field :password, class: "form-control" , id: "password"%><span id="spassword"></span>
      </div>
    </div>

    <div class="form-group">
      <%= form.label :Confirm_Password, class: "col-sm-2 control-label"  %>
      <div class="col-sm-10">
            <%= form.password_field :cpassword, class: "form-control", id: "cpassword"%><span id="scpassword"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= form.submit class: "btn btn-primary", id: "btn"%>
      </div>
    </div>
    <% end %> 
  </div>
</div>